modules=org.genxdm.samples.performance.bridges.BridgePerfModule
base.testCnt=100
base.excludeOneRun=true
base.includeSubtaskLevels=2
base.testMemoryUsage=false

bridge.document=email.xml
bridge.validate.schema=email.xsd
bridge.validate.copyTypeAnnotations=true
bridge.stylesheet=email.xsl
bridge.baseURI=/test/gxml_performance
bridge.testParsing=true
bridge.testSerialization=true
bridge.testNavigation=true
bridge.testValidation=true
bridge.testTransformation=true
bridge.testModelMutation=true
bridge.testBuilderMutation=true
bridge.bridgeFactoryClass=org.genxdm.samples.performance.bridges.cx.CxProcessingContextFactory

